<launch>
  <arg name="drone_id" default="0"/>
  <arg name="flight_type" default="2"/>
  <arg name="max_vel" default="0.6"/>
  <arg name="max_acc" default="1.0"/>

  <!-- EGO planner node (from ego_planner package) with full parameters -->
  <include file="$(find bringup_test)/launch/ego_planner/include/advanced_param_sim.xml">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="odometry_topic" value="visual_slam/odom"/>
    <arg name="camera_pose_topic" value="pcl_render_node/sensor_pose"/>
    <arg name="depth_topic" value="pcl_render_node/depth_img"/>
    <arg name="cloud_topic" value="pcl_render_node/cloud"/>
    <arg name="cx" value="320.0"/>
    <arg name="cy" value="240.0"/>
    <arg name="fx" value="442.025"/>
    <arg name="fy" value="442.025"/>
    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="max_jer" value="2.0"/>
    <arg name="max_sna" value="5.0"/>
    <arg name="use_multitopology_trajs" value="false"/>
    <arg name="flight_type" value="$(arg flight_type)"/>
    <arg name="tracking_backend" value="ego"/>
    <arg name="tracking_target_odom_topic" value="/target_ekf_odom"/>
  </include>

  <!-- Command multiplexer (ego / elastic selection) -->
  <node pkg="mission_executive" type="planner_cmd_mux"
        name="drone_$(arg drone_id)_planner_cmd_mux" output="screen">
    <remap from="~ego_position_cmd" to="/planner_mux/ego_position_cmd"/>
    <remap from="~elastic_position_cmd" to="/planner_mux/elastic_position_cmd"/>
    <remap from="~mode" to="/planner_mux/mode"/>
    <remap from="~position_cmd" to="/drone_$(arg drone_id)_planning/pos_cmd"/>
    <param name="default_mode" value="ego" type="string"/>
    <param name="ego_mode" value="ego" type="string"/>
    <param name="elastic_mode" value="elastic" type="string"/>
    <param name="input_timeout" value="0.5" type="double"/>
  </node>
</launch>
