<launch>
  <arg name="drone_id" default="0"/>
  <arg name="init_x" default="0.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="0.0"/>
  <arg name="uav_mass" default="1.64"/>
  <arg name="uav_grav" default="9.81"/>

  <!-- PCD map path (mounted from .data/pcd/) -->
  <arg name="map_pcd" default="/workspace/.data/pcd/J30V2_latest.pcd"/>

  <!-- prior_local support cloud (see sim_scenegraph_sim.launch) -->
  <arg name="support_pcd_enable" default="true"/>
  <arg name="support_pcd" default="/workspace/.data/pcd/20260705-magic2-d0.05.pcd"/>

  <!-- PCD map + quadrotor simulation + 360deg LiDAR sensor -->
  <include file="$(find bringup_test)/launch/sim_scenegraph_sim.launch">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_pcd" value="$(arg map_pcd)"/>
    <arg name="support_pcd_enable" value="$(arg support_pcd_enable)"/>
    <arg name="support_pcd" value="$(arg support_pcd)"/>
    <arg name="uav_mass" value="$(arg uav_mass)"/>
    <arg name="uav_grav" value="$(arg uav_grav)"/>
  </include>

  <!-- Super planner (replaces EGO planner as local backend) -->
  <include file="$(find bringup_test)/launch/sim_scenegraph_super_planner.launch">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="uav_mass" value="$(arg uav_mass)"/>
    <arg name="uav_grav" value="$(arg uav_grav)"/>
  </include>
</launch>
